nav{
    background-color: white;
    margin: 0;
    border: 0;
    border-bottom:rgb(0,0,0) solid 0.2vw;
    padding: 0;
    padding-left: 0.5vw;
    height: 6vw;
    display: flex;
    align-items: center;

}

.navbar-logo-img{
    height: 3.5vw;
}

body{
    margin: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.text-center{
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.75vw;
}

.site-functionality{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.protected-line{
    position: relative;
    width: auto;
    justify-content: center;
    display: flex;
}
.outer-help-div{
    width: 100%;
    position: relative;
}

.results{
    position: relative;
    width: auto;
}

.select-help{
    padding-right: 0.5vw;
    position: relative;
    display: flex;
    width: 12.5vw;
    height: 2vw;
    line-height: 3;
    border-radius: 0.5vw;
    padding-top: 0;
}

select{
    outline: 0;
    background: rgb(14, 135, 255);
    background-image: none;
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 750;
    font-size: 1vw;
}

.submit-button{
    width: 8vw;
    height: 2vw;
    background-color:rgb(0, 217, 255);
    border-radius: 0.5vw;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 750;
    font-size: 1vw;
}

.outer-results{
    margin-top: 2vw;
    width: 50%;
    height: 20vw;
    border: black solid 0.2vw;
}

.footer-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6.5vw;
    background-color: #0f82ce60;
    padding: 0;
    margin: 0;

}

.footer-text-collective{
    position: relative;
}

.footer-text-collective h5{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.75vw;
}

.results span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}